.navbar{
    height: 4rem;
    margin: 0 auto;
    padding: 2rem;
    position: absolute;
    z-index: 100;
    width: 90%;
    left: 50%;
    translate: -50%;
}

.navbar .left{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 3rem;
}

.navbar .left img{
    width: 80px;
}

.navbar .left a:not(:first-child){
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
}

.navbar .left a:hover:not(:first-child){
    translate: 0px -8px;
    transition: all 0.2s ease-in-out;
}